SPEEDSEQ_HOME=$SPEEDSEQDIR

# general
SAMBAMBA=$SAMBAMBABIN/sambamba
BGZIP=$TABIXBIN/bgzip
TABIX=$TABIXBIN/tabix
VAWK=$SPEEDSEQBIN/vawk
PARALLEL=$PARALLELBIN/parallel
PYTHON=$PYTHONBIN/python2.7

# align
BWA=$BWABIN/bwa
SAMBLASTER=$SAMBLASTERBIN/samblaster

# var/somatic
FREEBAYES=$FREEBAYESBIN/freebayes
VEP=$ENSEMBLVEPBIN/variant_effect_predictor.pl
VEP_CACHE_DIR=$SPEEDSEQANNODIR/vep_cache

# sv
LUMPY=$SPEEDSEQBIN/lumpy
LUMPYEXPRESS=$SPEEDSEQBIN/lumpyexpress
PAIREND_DISTRO=$SPEEDSEQBIN/pairend_distro.py
SVTYPER=$SPEEDSEQBIN/svtyper
BAMGROUPREADS=$BAMKITBIN/bamgroupreads.py
BAMFILTERRG=$BAMKITBIN/bamfilterrg.py
BAMLIBS=$BAMKITBIN/bamlibs.py

# CNVnator
CNVNATOR_WRAPPER=$SPEEDSEQBIN/cnvnator_wrapper.py
CNVNATOR_MULTI=$SPEEDSEQBIN/cnvnator-multi
ANNOTATE_RD=$SPEEDSEQBIN/annotate_rd.py
CNVNATOR_CHROMS_DIR=$SPEEDSEQANNODIR/cnvnator_chroms

# realign
BAMTOFASTQ=$BAMKITBIN/bamtofastq.py
MBUFFER=$MBUFFERBIN/mbuffer
BAMHEADRG=$BAMKITBIN/bamheadrg.py
BAMCLEANHEADER=$BAMKITBIN/bamcleanheader.py
